<mat-card>
    <mat-card-header>
        <mat-card-title>Accueil</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-slide-toggle [(ngModel)]="showEllaspsedTime">
            {{showEllaspsedTimeLabel}}
        </mat-slide-toggle>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Temps de travail</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div *ngFor="let c of weekDayConstraints">
            <mat-label class="weekDayLabel">{{c.weekDay | weekDayLabel}}</mat-label>
            <mat-form-field appearance="fill" class="hours">
                <mat-select [(value)]="c.hours">
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">
                        {{hour.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            :
            <mat-form-field appearance="fill" class="hours">
                <mat-select [(value)]="c.minutes">
                    <mat-option *ngFor="let minute of minutes" [value]="minute.value">
                        {{minute.label}}
                    </mat-option>
                </mat-select>


            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>