:host {
    display: block;
}

.elapsedTime{
    position: absolute;
    top: 117px;
    left: 138px;
    font-size: 23px;
    color:green;
}

.overdue{
    color:red;
}

.remainingTime {
    left: 136px;
    font-size: 20px;
}