<mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="side" mode="over">
        <app-homesidebar></app-homesidebar>
    </mat-drawer>
    <mat-drawer-content>
        <app-homeheader (toggleDrawerEvent)="drawer.toggle()"></app-homeheader>
        <div class="content" role="main" *ngIf="vm$ | async as vm">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Aujourd'hui</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <app-time-chart [expectedTimeInMinutes]='dayTimePeriod.expectedTimeInMinutes'
                        [elapsedTimeInMinutes]='dayTimePeriod.elapsedTimeInMinutes'
                        [showEllaspsedTime]='vm.showEllaspsedTime'>
                    </app-time-chart>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-button
                        [routerLink]="routingService.editIntervalRoute(dayTimePeriod.id)">MODIFIER</button>
                </mat-card-actions>
            </mat-card>

            <button mat-raised-button class="play" [ngClass]="{'running':isRunning}" (click)="toggleRunning()">
                <span *ngIf="!isRunning">
                    <fa-icon [icon]="faPlay"></fa-icon> Démarrer
                </span>
                <span *ngIf="isRunning">
                    <fa-icon [icon]="faStop"></fa-icon> Arréter
                </span>
            </button>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Cette semaine</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <app-time-chart [expectedTimeInMinutes]='weekTimePeriod.expectedTimeInMinutes'
                        [elapsedTimeInMinutes]='weekTimePeriod.elapsedTimeInMinutes'
                        [showEllaspsedTime]='vm.showEllaspsedTime'>
                    </app-time-chart>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>2 derniers mois</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <app-time-chart [expectedTimeInMinutes]='monthsTimePeriod.expectedTimeInMinutes'
                        [elapsedTimeInMinutes]='monthsTimePeriod.elapsedTimeInMinutes'
                        [showEllaspsedTime]='vm.showEllaspsedTime'>
                    </app-time-chart>
                </mat-card-content>
            </mat-card>

            <a [routerLink]="routingService.newIntervalRoute()">ajouter</a>
            <br />
            <a [routerLink]="routingService.editIntervalRoute('1')">modifier</a>
            <footer>

            </footer>
        </div>
    </mat-drawer-content>
</mat-drawer-container>