// .reportContainer{
//     display: flex;
//     align-content: space-around;
//     align-items:baseline;
//     width: 200px;
// }

mat-card{
    margin-bottom: 20px;
}

.drawer-container {
    height: 100%;
}

// .overtaking{
//     color: green;
// }

button.play{
    background-color: green;
    color:white;
    width: 150px;
    margin-bottom: 20px;
}

button.running{
    background-color: red;
}
  
.right-part{
    display: flex;
    justify-content: flex-end;
}